DATABASE_URL="postgre-link-goes-here"
JWT_SECRET="secret-goes-here"
MINIO_ENDPOINT="localhost"
MINIO_PORT="9000"
MINIO_ACCESS_KEY="key-goes-here"
MINIO_SECRET_KEY="secret-goes-here"
MINIO_BUCKET="waste-images"
MINIO_USE_SSL="false"